@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  root: "#my-app";
  include: ;
  exclude: rootscrollgutter, rootcolor;
  prefix: ;
  logs: true;
}

/* ใส่ตรงนี้ */
:root,
[data-theme] {
  background-color: var(--root-bg, var(--color-base-100));
  color: var(--color-base-content);
}